<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg d-flex bd-highlight navbar-dark bg-dark">
        <a class="navbar-brand" href="#">New releases</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/homepage">All movies</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/favorites">My Favorites</a>
              </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Genre
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="/action">Action</a>
                <a class="dropdown-item" href="/drama">Drama</a>
                <a class="dropdown-item" href="/comedy">Comedy</a>
              </div>
            </li>
          </ul>
            
        </div>
        <div class="d-flex justify-content-end p-2 bd-highlight">
            <button class="btn btn-outline-success my-2 my-sm-0"><a href="/planair">Back</a></button>
            <button class="btn btn-outline-success my-2 my-sm-0"><a href="/delete_session">Logout</a></button>
        </div>
      </nav>
    <div class="jumbotron">
    {% for movie in api_movies %}
        {% if movie.year > '2019' %}
            
                <div class="card" style="width: 18rem; display: inline-block; vertical-align: top; background-color: #343a40;">
                    <img src="{{movie.image}}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title" style="text-align: center; color: white;">{{movie.title}}</h5>
                        <p class="card-text" style="text-align: center; color: white;">{{movie.year}}</p>
                    </div>
                    <div class="card-body" >
                        <div class=" text-center" style="background-color: #343a40;">
                            {% if movie.id not in favorite_movies %}
                    <form action="/add_favorite" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="movie_id" value="{{movie.id}}">
                        <input class="btn btn-primary" type="submit" value="Add to favorite" ">
                    </form>
                    {% else %}
                    <form action="/remove_favorite_homepage" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="movie_id" value="{{movie.id}}">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Remove Favorite</button>
                    </form>
                    {% endif %}
                </div>
                

            </div>
        </div>
    
        {% endif %}
    {% endfor %}
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>